[core]
    editor = "zed --wait"
[alias]
    s = status --short
    st = status
    cv = commit --verbose
    cm = commit -m
    co = checkout
    br = branch
    df = diff
    dh = diff HEAD
    ds = diff --stat
    ll = log --oneline --decorate
    lf = log --pretty=oneline --decorate
    lg = log --graph --oneline --decorate
    ap = add --patch
    track = add -N
    all = add -A
    up = add --update
[pull]
    ff = only
